<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Insert New User
                    </span>
                </div>
            </div>

            <div class="card-body"> 
                <form>
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" v-model="name" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" v-model="email" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label>Role</label>
                    <select v-model="selectedRole" class="form-control">
                        <option v-for="role in roles" v-bind:value="role.id">
                            {{ role.name }}
                        </option>
                    </select>
                  </div>
                  <button type="button" v-on:click.stop="submitUser" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                name: '',
                email: '',
                password: '',
                selectedRole: '',
                roles: [],
            };
        },

        mounted() {
            this.prepareComponent();
        },

        methods: {
            prepareComponent() {

                /*$('#modal-create-client').on('shown.bs.modal', () => {
                    $('#create-client-name').focus();
                });

                $('#modal-edit-client').on('shown.bs.modal', () => {
                    $('#edit-client-name').focus();
                });*/
                this.getRoles();
            },

            getRoles() {
                axios.get('/api/roles')
                        .then(response => {
                            this.roles = response.data.data;
                        });
            },
            submitUser(){
                axios.post('/api/users', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    role_id: this.selectedRole
                  })
                  .then(function (response) {
                    Event.$emit('userAdded');
                    console.log(response);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            },

            /*destroy(client) {
                axios.delete('/oauth/clients/' + client.id)
                        .then(response => {
                            this.getClients();
                        });
            }*/
        }
    }
</script>
