<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <div>
        <div class="card card-default">
            <div class="card-header">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <span>
                        Insert New Show
                    </span>
                </div>
            </div>

            <div class="card-body"> 
                <form>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" v-model="title" placeholder="Enter title">
                  </div>
                  <div class="form-group">
                    <div class="col-md-3" v-if="image">
                        <img :src="image" class="img-responsive" height="70" width="90">
                    </div>
                    <label>Cover image</label>
                    <input type="file" class="form-control" v-on:change="onImageChange"/>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" v-model="description"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Release date</label>
                    <input type="date" class="form-control" v-model="releaseDate" placeholder="Enter release date">
                  </div>
                  <button type="button" v-on:click.stop="submitShow()" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                title: '',
                image: '',
                description: '',
                releaseDate: '',
            };
        },

        mounted() {
            this.prepareComponent();
        },

        methods: {
            prepareComponent() {
 
           },

            onImageChange(e){
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            submitShow(){
                axios.post('/api/shows',{
                image: this.image,
                title: this.title,
                description: this.description,
                releaseDate: this.releaseDate
                }).then(response => {
                   Event.$emit('showAdded');
                   console.log(response);
                });
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            /*destroy(client) {
                axios.delete('/oauth/clients/' + client.id)
                        .then(response => {
                            this.getClients();
                        });
            }*/
        }
    }
</script>
