<style scoped>
    .action-link {
        cursor: pointer;
    }
    .item-cover-image{
        max-width: 25%;
        max-height: 225px;
        margin-right: 20px;
        float:left;
    }
    .front-items-ul{
        list-style:none;
    }
    .front-items-ul>li{
        min-height: 225px;
    }
    .btn-front-movies-more {
        float: right;
    }

    .stars-outer {  
      display: inline-block;
      position: relative;
      font-family: FontAwesome;
    }
 
    .stars-outer::before {
      content: "\f006 \f006 \f006 \f006 \f006";
    }
 
    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 20%;
    }
 
    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #f8ce0b;
    }   
</style>

<template>
<div class="card">
    <div class="card-header">Movies</div>
    <div class="card-body">
        <ul class="front-items-ul">
            <template v-for="movie in movies">
            <li>
                <div>
                    <img class="item-cover-image" v-bind:src="'/images/movies/' + movie.cover"/>
                    <div>
                        <h2>{{ movie.title }}</h2>
                        <h6>Jack Nicholson, Tony Richards</h6>
                        <p>{{ movie.description }}</p>
                        <div class="stars-outer">
                          <div class="stars-inner" v-bind:style="{ width: movie.rating + '%' }"></div>
                        </div>
                    </div>
                </div>
            </li>       
            </template>
        </ul>
        <button class="btn-front-movies-more btn btn-success" v-on:click="loadMoreMovies" type="button">Show more</button>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                movies: [],
                resultsPerSet: 10,
                currentSet: 1,
                loadMore: false,
            };
        },
        mounted() {
            this.prepareComponent();
        },

        methods: {
            prepareComponent() {
                this.getMovies();
            },
            getMovies() {
                axios.get('/api/movies?requestedSet=' + this.currentSet + '&setSize=' + this.resultsPerSet)
                        .then(response => {
                            if(!this.loadMore)
                                this.movies = response.data.data;
                            else
                                this.movies = this.movies.concat(response.data.data);
                        });
            },

            loadMoreMovies: function (event) {
                this.currentSet = this.currentSet + 1;
                this.loadMore = true;
                this.getMovies();
            }
    },
    }
</script>
