<style scoped>
    .action-link {
        cursor: pointer;
    }
    .item-cover-image{
        max-width: 25%;
        max-height: 225px;
        margin-right: 20px;
        float:left;
    }
    .front-items-ul{
        list-style:none;
    }
    .front-items-ul>li{
        min-height: 225px;
    }
    .btn-front-movies-more {
        float: right;
    }

    .stars-outer {  
      display: inline-block;
      position: relative;
      font-family: FontAwesome;
    }
 
    .stars-outer::before {
      content: "\f006 \f006 \f006 \f006 \f006";
    }
 
    .stars-inner {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      overflow: hidden;
      width: 20%;
    }
 
    .stars-inner::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      color: #f8ce0b;
    }   
</style>

<template>
<div class="card" v-if="show">
    <div class="card-header">Search results</div>
    <div class="card-body">
        <ul class="front-items-ul">
            <template v-for="movie in movies">
            <li>
                <div>
                    <img class="item-cover-image" v-bind:src="'/images/movies/' + movie.cover"/>
                    <div>
                        <h2>{{ movie.title }}</h2>
                        <h6>Jack Nicholson, Tony Richards</h6>
                        <p>{{ movie.description }}</p>
                        <div class="stars-outer">
                          <div class="stars-inner" v-bind:style="{ width: movie.rating + '%' }"></div>
                        </div>
                    </div>
                </div>
            </li>       
            </template>
        </ul>
        <ul class="front-items-ul">
            <template v-for="show in shows">
            <li>
                <div>
                    <img class="item-cover-image" v-bind:src="'/images/shows/' + show.cover"/>
                    <div>
                        <h2>{{ show.title }}</h2>
                        <h6>Jack Nicholson, Tony Richards</h6>
                        <p>{{ show.description }}</p>
                        <div class="stars-outer">
                          <div class="stars-inner" v-bind:style="{ width: show.rating + '%' }"></div>
                        </div>
                    </div>
                </div>
            </li>       
            </template>
        </ul>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                show: false,
                movies: [],
                shows: [],
                resultsPerSet: 5,
                currentSet: 1,
            };
        },

        mounted() {
            this.prepareComponent();
            Event.$on('searchRequested', (e) => this.getSearchResults(e));
            Event.$on('searchAborted', () => this.abortSearch());

        },

        methods: {

            prepareComponent() {
                
            },
            getSearchResults(e) {
            this.show = true;
                axios.get('/api/search?requestedSet=' + this.currentSet + '&setSize=' + this.resultsPerSet + '&searchTerm=' + e)
                        .then(response => {
                            this.movies = response.data.movies;
                            this.shows = response.data.shows;
                        });
            },
            abortSearch(){
                this.show = false;
            },
    },
    }
</script>
