<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" v-bind:href="dashboard">
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:href="users">
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:href="movies">
              Movies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:href="shows">
              TV Shows
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              OAuth2
            </a>
          </li>
        </ul>
      </div>
    </nav>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                dashboard: "/admin/dashboard/",
                users: "/admin/users/",
                movies: "/admin/movies",
                shows: "/admin/shows"
            };
        },

        methods: {
            
        }
    }
</script>
