<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
<div class="card">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
    <table class="table table-borderless mb-0" v-if="users.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <template v-for="user in users">
            <tr>
                <!-- ID -->
                <td style="vertical-align: middle;">
                    {{ user.id }}
                </td>

                <!-- Name -->
                <td style="vertical-align: middle;">
                    {{ user.name }} 
                </td>
                <!-- Email -->
                <td style="vertical-align: middle;">
                    {{ user.email }} 
                </td>
                <!-- Secret -->
                <td style="vertical-align: middle;">
                    {{user.role}}
                </td>
            </tr>
            </template>
        </tbody>
        </table>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                users: [],
                clients: [],
                createForm: {
                    errors: [],
                    name: '',
                    session: null,
                    redirect: ''
                },
            };
        },
        
        mounted() {
            this.prepareComponent();
            Event.$on('userAdded', () => this.getUsers());
        },

        methods: {
            prepareComponent() {
                this.getUsers();
            },
            getUsers() {
                axios.get('/api/users')
                        .then(response => {
                            this.users = response.data.data;
                        });
            },
    },
    }
</script>
