<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
<div class="card">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
    <table class="table table-borderless mb-0" v-if="movies.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <template v-for="movie in movies">
            <tr>
                <!-- ID -->
                <td style="vertical-align: middle;">
                    {{ movie.id }}
                </td>

                <!-- Name -->
                <td style="vertical-align: middle;">
                    {{ movie.title }} 
                </td>
                <!-- Secret -->
                <td style="vertical-align: middle;">
                    {{ movie.releaseDate }} 
                </td>
            </tr>
            </template>
        </tbody>
        </table>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                movies: [],
                clients: [],
                createForm: {
                    errors: [],
                    name: '',
                    session: null,
                    redirect: ''
                },
            };
        },
        mounted() {
            this.prepareComponent();
            Event.$on('movieAdded', () => this.getMovies());
        },

        methods: {
            prepareComponent() {
                this.getMovies();
            },
            getMovies() {
                axios.get('/api/movies')
                        .then(response => {
                            this.movies = response.data.data;
                        });
            },
    },
    }
</script>
