<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
<div class="card">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
    <table class="table table-borderless mb-0" v-if="shows.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <template v-for="show in shows">
            <tr>
                <!-- ID -->
                <td style="vertical-align: middle;">
                    {{ show.id }}
                </td>

                <!-- Name -->
                <td style="vertical-align: middle;">
                    {{ show.title }} 
                </td>
                <!-- Secret -->
                <td style="vertical-align: middle;">
                    {{ show.releaseDate }} 
                </td>
            </tr>
            </template>
        </tbody>
        </table>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                shows: [],
                clients: [],
                createForm: {
                    errors: [],
                    name: '',
                    session: null,
                    redirect: ''
                },
            };
        },
        mounted() {
            this.prepareComponent();
            Event.$on('showAdded', () => this.getShows());
        },

        methods: {
            prepareComponent() {
                this.getShows();
            },
            getShows() {
                axios.get('/api/shows')
                        .then(response => {
                            this.shows = response.data.data;
                        });
            },
    },
    }
</script>
