<style scoped>
    .action-link {
        cursor: pointer;
    }
</style>

<template>
<div class="card">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
        <p>Dashboard panel</p>
        <passport-clients></passport-clients>
    </div>
</div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                clients: [],

                createForm: {
                    errors: [],
                    name: '',
                    session: null,
                    redirect: ''
                },
            };
        },

        methods: {
        }
    }
</script>
